HYPIXEL_API_KEY=YOUR_HYPIXEL_API_KEY
URCHIN_API_KEY=YOUR_URCHIN_API_KEY
PING_API_KEY=YOUR_PING_API_KEY
INTERNAL_API_SECRET=YOUR_INTERNAL_API_SECRET
INTERNAL_BASE_URL=YOUR_INTERNAL_BASE_URL # http://localhost:3000 if dev env
KV_REST_API_URL=YOUR_KV_REST_API_URL
KV_REST_API_TOKEN=YOUR_KV_REST_API_TOKEN
KV_URL=YOUR_KV_URL
KV_REST_API_READ_ONLY_TOKEN=YOUR_KV_REST_API_READ_ONLY_TOKEN
REDIS_URL=YOUR_REDIS_URL
CORALDB_API_SECRET=YOUR_CORALDB_API_SECRET